<h1 class="title">About</h1>
<p class="text">
  Welcome to <strong class="wordmark">Linux for beginners</strong>!
  Learn how to get started with Linux easily on this website.
</p>

<div class="box">
  <h2 class="stitle">Why you should use Linux</h2>
  <div class="text">
    <p>
      Many people think that Linux is really hard to use, but that's wrong!
      It depends on the Linux distribution you are going to use, Arch Linux for example is not really great for beginners, but Kubuntu is.
    </p>
    <p>
      Unlike Windows or macOS, Linux is open source, which means that everyone can read the code of Linux.
    </p>
    <p>
      Windows and macOS also send telemetry data to Microsoft or Apple, Linux does not.
    </p>
    <p>
      But at the end, it always is your opinion. I'm not going to force you to use Linux :^)
    </p>
  </div>
</div>

<div class="box">
  <h2 class="stitle">Why I created this page</h2>
  <div class="text">
    <p>
      I wanted to show the people that Linux is great.
      I wanted to eliminate the stereotypes about Linux being for "hackers" only or that "Linux can't run most of the software.
    </p>
  </div>
</div>
