// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html {
  margin: 0 !important;
  padding: 0 !important;
}
body {
  background-color: #EEEEEE;
  color: #444444;
  margin: 10px 15px;
}
