<div class="navbar">
  <img class="brand" src="/assets/tux.png" alt="Tux" width="48"/>
  <div class="text">
    Linux for beginners
  </div>
  <div class="items">
    <a href="/">Home</a>
    <a href="/articles">Articles</a>
    <a href="/about">About</a>
  </div>
</div>
<div class="separator"></div>
